/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #19c8fa;
  --second-color: #3a1f95;
  --main-bg-color: #09161e;
  --transparent-main-color: rgba(25, 200, 250, 0.6);
  --main-padding: 50px;
  --main-p-color: #777;
  --transition-duration: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 3000px;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-heading {
  text-align: center;
}
.main-heading .section-name {
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 57px;
  position: relative;
  display: flex;
  justify-content: center;
}
.main-heading .section-name::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: black;
  bottom: -25px;
}
.main-heading .section-name::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.main-heading .section-name + p {
  color: var(--main-p-color);
  font-size: 14px;
  margin-bottom: 70px;
  max-width: 550px;
  margin: 0 auto 50px auto;
}
@media (max-width: 768px) {
  .main-heading .section-name + p {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.overlay {
  background-color: rgb(0 0 0 / 25%);
  width: 100%;
  height: 100%;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1175px;
  }
}
/* End Global Rules */

header {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 78px;
}
header .container::before {
  content: "";
  position: absolute;
  height: 0.5px;
  width: calc(100% - 30px);
  background-color: white;
  bottom: 0;
}
header .logo img {
  width: 100px;
}
header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav ul {
  display: flex;
}
header nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 30px 10px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
header nav ul li a:hover,
header nav ul li .active {
  position: relative;
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  z-index: 2;
}
header nav .form {
  width: 32px;
  height: 26px;
  border-left: 1px solid white;
  margin-left: 20px;
  position: relative;
}
header nav .form i {
  color: white;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
header nav .list-menu {
  color: white;
  font-size: 19px;
}
@media (min-width: 768px) {
  header nav .list-menu {
    display: none;
  }
}
@media (max-width: 767.9px) {
  header nav ul {
    display: none;
  }
  header .container {
    position: relative;
  }
  header nav .menu:hover ul {
    display: block;
    position: absolute;
    width: calc(100% - 34px);
    top: 100%;
    left: 15px;
    padding-left: 6px;
    background-color: rgb(0 0 0 / 75%);
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
  }
  header nav ul li a {
    padding: 12px 0;
  }
}

.landing {
  background-color: var(--main-bg-color);
  background-image: url("../imgs/landing-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}
.landing .landing-content {
  position: absolute;
  width: 100%;
  height: 40%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.landing .text {
  background-color: var(--transparent-main-color);
  padding: 50px;
  position: absolute;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  display: flex;
  justify-content: flex-end;
}
.landing .text .content {
  color: white;
  max-width: 450px;
}
.landing .content h2 {
  font-weight: 400;
  margin-bottom: 5px;
  line-height: 30px;
}
.landing .content h2 span {
  color: var(--second-color);
  font-weight: 600;
  letter-spacing: 5px;
}
.landing .content p {
  margin-top: 25px;
  line-height: 25px;
  font-weight: 100;
}
.landing .fa-arrow {
  position: absolute;
  color: white;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  opacity: 0;
  transition: var(--transition-duration);
  -webkit-transition: var(--transition-duration);
  -moz-transition: var(--transition-duration);
  -ms-transition: var(--transition-duration);
  -o-transition: var(--transition-duration);
}
.landing .landing-content:hover a .fa-arrow {
  opacity: 1;
}
.landing .arrow-left {
  left: 20px;
}
.landing .arrow-right {
  right: 20px;
}
.landing .bullets {
  width: 65px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}
.landing .bullets .bullet {
  color: white;
  font-size: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.landing .bullets .bullet:nth-of-type(2) {
  color: var(--main-color);
  background-color: var(--main-color);
}

@media (max-width: 767.9px) {
  .landing .landing-content {
    height: 55%;
  }
  .landing .text {
    top: 55%;
    width: 100%;
    justify-content: center;
  }
  .landing .content p {
    text-align: center;
  }
  .landing .fa-arrow {
    top: 55%;
  }
}

.services {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.services .serv-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}
.services .serv-content .serv {
  display: flex;
}
.services .serv-content .serv i {
  color: var(--second-color);
  font-size: 33px;
}
.services .serv-content .serv .text {
  margin-left: 30px;
  margin-bottom: 30px;
}
.services .serv-content .serv .text h3 {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.services .serv-content .serv .text p {
  line-height: 22px;
  font-size: 15px;
  color: var(--main-p-color);
  max-width: 515px;
}
@media (max-width: 768px) {
  .services .main-heading p {
    padding-left: 10px;
    padding-right: 10px;
  }
  .services .serv-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .services .serv-content .serv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services .serv-content .serv i {
    font-size: 27px;
  }
  .services .serv-content .serv .text {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  .services .serv-content .serv .text h3 {
    margin: 20px;
  }
}
@media (min-width: 992px) {
  .services .serv-content {
    grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
  }
}

.design {
  background-image: url("../imgs/design.jpg");
  background-color: var(--main-bg-color);
  background-position: top center;
  width: 100%;
  /* height: 500px; */
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  overflow-y: hidden;
}
.design .overlay {
  position: absolute;
  margin-top: -50px;
  height: calc(100% + 100px);
}
.design .design-content {
  display: flex;
  align-items: center;
}
.design .design-content img {
  width: 300px;
  position: relative;
  z-index: 2;
  bottom: -105px;
}
.design .design-content .text {
  position: absolute;
  background-color: var(--transparent-main-color);
  color: white;
  padding: 30px;
  width: 50%;
  right: 0;
  z-index: 2;
}
.design .design-content .text h2 {
  margin-bottom: 50px;
  font-weight: 400;
}
.design .design-content .text .feat {
  font-size: 15px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.design .design-content .text i {
  font-size: 14px;
}
.design .design-content .text h3 {
  font-weight: 200;
  margin-left: 10px;
}
@media (max-width: 768px) {
  .design {
    height: 860px;
  }
  .design .design-content .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50px;
  }
  .design .design-content .text h2 {
    text-align: center;
  }
  .design .design-content .text .feat {
    max-width: 300px;
    flex-direction: column;
  }
  .design .design-content .text .feat i {
    margin-bottom: 14px;
    font-size: 22px;
  }
  .design .design-content img {
    width: 250px;
    bottom: -510px;
  }
}
@media (max-width: 992px) {
  .design .design-content .text h2 {
    font-size: 19px;
  }
}
@media (min-width: 992px) {
  .design .design-content img {
    left: 80px;
  }
}
@media (min-width: 1200px) {
  .design .design-content img {
    left: 150px;
  }
}

.protofolio {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.protofolio .shuffle {
  margin-bottom: 20px;
}
.protofolio .shuffle ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.protofolio .shuffle ul li {
  cursor: pointer;
  padding: 10px;
  margin: 3px;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
.protofolio .shuffle ul .active {
  color: white;
  background-color: var(--main-color);
}
.protofolio .shuffle ul li:hover {
  color: white;
  background-color: var(--main-color);
}
.protofolio .content-container {
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
.protofolio .content-container .box {
  flex-basis: calc(25% - 6px);
  position: relative;
  overflow: hidden;
}
@media (max-width: 992px) {
  .protofolio .content-container .box {
    flex-basis: calc((100% / 3) - 6px);
  }
}
@media (max-width: 768px) {
  .protofolio .content-container .box {
    flex-basis: calc(50% - 6px);
  }
}
@media (max-width: 600px) {
  .protofolio .content-container .box {
    flex-basis: calc(100% - 6px);
  }
  .protofolio .content-container {
    justify-content: center;
  }
}
.protofolio .content-container .box img {
  width: 100%;
  transition: var(--transition-duration);
  -webkit-transition: var(--transition-duration);
  -moz-transition: var(--transition-duration);
  -ms-transition: var(--transition-duration);
  -o-transition: var(--transition-duration);
}
.protofolio .content-container .box .caption {
  position: absolute;
  width: calc(100%);
  padding: 10px;
  padding-left: 16px;
  background-color: rgb(25 200 250 / 0.77);
  cursor: pointer;
  color: white;
  bottom: -100%;
  transition: var(--transition-duration);
  -webkit-transition: var(--transition-duration);
  -moz-transition: var(--transition-duration);
  -ms-transition: var(--transition-duration);
  -o-transition: var(--transition-duration);
}
.protofolio .content-container .box .caption h3 {
  font-weight: 500;
  font-size: 18px;
}
.protofolio .content-container .box .caption h4 {
  font-weight: 700;
  margin-top: 8px;
  font-size: 12px;
  color: black;
}
.protofolio .content-container .box:hover .caption {
  bottom: 0px;
}
.protofolio .content-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
  -webkit-transform: rotate(3deg) scale(1.1);
  -moz-transform: rotate(3deg) scale(1.1);
  -ms-transform: rotate(3deg) scale(1.1);
  -o-transform: rotate(3deg) scale(1.1);
}
.protofolio .more {
  display: block;
  width: 75px;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  background-color: var(--main-color);
  color: white;
  padding: 10px;
}

.video {
  background-image: url("../imgs/video-bg.jpg");
  background-size: contain;
  width: 100%;
  position: relative;
  margin-top: -15px;
}
.video .bg-video {
  position: relative;
}
.video .bg-video video {
  width: 100%;
}
.video .bg-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 40%);
}
.video .text-container {
  background-color: var(--transparent-main-color);
  color: white;
  width: 100%;
  text-align: center;
  padding: 50px;
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.video .text-container h3 {
  font-size: 22px;
  font-weight: 500;
}
.video .text-container p {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 35px;
}
.video .text-container a {
  font-size: 14px;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  cursor: pointer;
}
@media (max-width: 550px) {
  .video .text-container {
    padding: 30px;
  }
  .video .text-container h3 {
    font-size: 18px;
  }
  .video .text-container p {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 23px;
  }
  .video .text-container a {
    font-size: 11px;
    padding: 8px 12px;
  }
}

.about {
  padding-top: var(--main-padding);
  text-align: center;
  overflow: hidden;
}
.about .main-heading p {
  margin-bottom: 75px;
}
.about img {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 700px;
  position: relative;
  bottom: -62px;
  margin-top: -62px;
}
@media (max-width: 768px) {
  .about img {
    bottom: -45px;
    margin-top: -45px;
  }
}
@media (max-width: 500px) {
  .about img {
    bottom: -28px;
    margin-top: -28px;
  }
}

.statcs {
  background-image: url("../imgs/statcs.jpg");
  background-size: cover;
  background-position: center;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.statcs .statcs-content {
  background-color: var(--transparent-main-color);
}
.statcs .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 20px;
  padding: 35px;
}
.statcs .statcs-content .stat {
  color: white;
  text-align: center;
}
.statcs .statcs-content .stat i {
  font-size: 16px;
  background-color: black;
  padding: 12px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.statcs .statcs-content .stat:last-of-type i {
  font-size: 18px;
}
.statcs .statcs-content .stat h2 {
  margin: 20px;
  font-size: 40px;
}
.statcs .statcs-content .stat h3 {
  font-size: 12px;
  font-weight: 400;
}
@media (max-width: 992px) {
  .statcs .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 55px 20px;
  }
  .statcs .statcs-content .stat h2 {
    margin: 15px;
  }
}
@media (max-width: 768px) {
  .statcs .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.all-skills {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.all-skills .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.all-skills .test {
  flex-basis: 45%;
  position: relative;
  margin-bottom: 20px;
}
.all-skills .head {
  margin-bottom: 50px;
  text-align: center;
}
.all-skills .head h2 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.all-skills .head p {
  color: #aaa;
  max-width: 500px;
  margin: 0 auto;
}
.all-skills .test .person {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}
.all-skills .test .person img {
  width: 75px;
}
.all-skills .test .person .caption {
  padding-left: 55px;
  max-width: 550px;
  position: relative;
}
.all-skills .test .person .caption::before {
  content: "";
  position: absolute;
  width: calc(100% - 55px);
  height: 1px;
  bottom: -12px;
  left: 55px;
  background-color: #aaa;
}
.all-skills .test .person .caption .name {
  font-size: 15px;
  color: #aaa;
  text-align: right;
  font-style: italic;
  margin-top: 5px;
}
.all-skills .bullets {
  width: 65px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}
.all-skills .bullets .bullet {
  color: black;
  font-size: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.all-skills .bullets .bullet:nth-of-type(2) {
  color: var(--main-color);
  background-color: var(--main-color);
}
@media (max-width: 768px) {
  .all-skills .test .person {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .all-skills .test .person img {
    margin-bottom: 10px;
  }
  .all-skills .test .person .caption {
    padding: 0 10px;
    text-align: center;
  }
  .all-skills .test .person .caption::before {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .all-skills .test .person .caption p {
    margin-bottom: 10px;
  }
}
.all-skills .content .skills {
  flex-basis: 45%;
}
.all-skills .skills .prog-percent:not(:last-child) {
  margin-bottom: 20px;
}
.all-skills .skills .prog-percent h4 {
  font-weight: 500;
  margin-bottom: 13px;
}
.all-skills .skills .prog-percent .prog {
  background-color: #aaa;
  height: 30px;
}
.all-skills .skills .prog-percent .prog span {
  display: block;
  height: 100%;
  background-color: var(--main-color);
  position: relative;
}
.all-skills .skills .prog-percent .prog span::before {
  content: attr(data-progress);
  position: absolute;
  padding: 7px;
  text-align: center;
  color: white;
  background-color: black;
  font-size: 12px;
  top: -36px;
  right: -18px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.all-skills .skills .prog-percent .prog span::after {
  content: "";
  position: absolute;
  border: 8px solid transparent;
  border-top-color: black;
  top: -11px;
  right: -7px;
}
@media (max-width: 768px) {
  .all-skills .test,
  .all-skills .skills {
    flex-basis: 100% !important;
  }
  .all-skills .test {
    margin-bottom: 65px;
  }
  .all-skills .skills {
    padding: 10px;
  }
}

.qoute {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-image: url("../imgs/qoute.png");
  background-position: center;
  color: white;
  text-align: center;
  position: relative;
}
.qoute::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 45%);
}
.qoute .container {
  position: relative;
  padding: 30px;
}
.qoute q {
  display: block;
  max-width: 685px;
  margin: 0 auto;
  font-weight: 500;
  line-height: 22px;
}
.qoute q::before {
  content: "\f10d";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 3px;
}
.qoute q::after {
  content: "\f10e";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-left: 3px;
}
.qoute p {
  color: #dcdcdc;
  margin-top: 10px;
  font-size: 15px;
  font-style: italic;
}

.pricing {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}

.plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.plans .plan {
  text-align: center;
  background-color: #fcfcfc;
}
.plans .plan .type-price {
  padding: 30px;
  position: relative;
}
.plans .plan .type-price::before {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 300px;
  height: 1px;
  background-color: var(--main-color);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.plans .plan .type-price::after {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 300px;
  height: 1px;
  background-color: var(--main-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.plans .plan .type-price .type {
  text-transform: uppercase;
  font-size: 15px;
}
.plans .plan .type-price h2 {
  margin-top: 10px;
  font-size: 45px;
  font-weight: 600;
  position: relative;
  left: 5px;
}
.plans .plan .type-price h2::before {
  content: "$";
  position: relative;
  font-size: 15px;
  font-weight: 500;
  top: -20px;
  left: -5px;
}
.plans .plan .type-price h2::after {
  content: "/MO";
  position: relative;
  font-size: 11px;
  font-weight: 500;
  left: 5px;
}

.plans .plan .features {
  padding-top: 20px;
}
.plans .plan .features li {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.plans .plan .features li:first-child {
  padding-top: 5px;
}
.plans .plan .features li:last-child {
  padding-bottom: 25px;
}
.plans .plan .features li:not(:last-of-type)::after {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 140px;
  height: 1px;
  background-color: var(--main-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.plans .plan .features li:last-of-type::after {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 300px;
  height: 1px;
  background-color: var(--main-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.plans .plan .buy {
  cursor: pointer;
  padding: 10px 15px;
  border: 2px solid var(--main-color);
  font-size: 15px;
  display: block;
  max-width: 105px;
  margin: 30px auto;
}

.pricing .contact-part {
  text-align: center;
  margin-top: 60px;
}
.pricing .contact-part p {
  margin-bottom: 35px;
}
.pricing .contact-part a {
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background-color: var(--main-color);
  padding: 12px 18px;
}

.subscribe {
  background-image: url("../imgs/subscribe.jpg");
  background-position: center;
  position: relative;
  padding: var(--main-padding) 0;
}
.subscribe::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 40%);
}
.subscribe .sub-content {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}
.subscribe .sub-content p {
  flex-basis: 50%;
  color: white;
  font-size: 15px;
  line-height: 22px;
}
.subscribe .sub-content form {
  flex-basis: 50%;
  max-width: 100%;
  position: relative;
  display: flex;
}
.subscribe form i {
  color: white;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.subscribe form input[type="email"] {
  padding: 15px 15px 15px 40px;
  background: none;
  border: 1.5px solid white;
  border-right: none;
  width: calc(100% - 100px);
  caret-color: var(--main-color);
  color: white;
}
.subscribe form input[type="email"]::placeholder {
  color: white;
  font-size: 15px;
}
.subscribe form input[type="submit"] {
  width: 100px;
  color: white;
  background-color: var(--main-color);
  border: 1.5px solid white;
  border-left: none;
  font-size: 15px;
}
.subscribe form input:focus {
  outline: none;
}
@media (max-width: 992px) {
  .subscribe .sub-content {
    flex-direction: column;
  }
  .subscribe .sub-content p {
    text-align: center;
  }
}
